.lenta {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-snap-type: y;
    scroll-snap-align: start;
    scrollbar-width: thin;
}

.summary {
    display: flex;
    flex-direction: row;
    gap: 40px;
    width: 568px;
    align-items: center;
    justify-content: flex-end;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 568px;
    margin-left: 16px;
}

.points {
    height: 24px;
    width: 24px;
    cursor: pointer;
}

.one {
    display: flex;
    justify-content: center;
}

.sec {
    display: flex;
    flex-direction: column;
    background-color: #131316;
    margin-top: 100px;
    height: calc(100vh - 340px);

}