.price {
    display: flex;
    justify-content: center;
    align-items: center;
}

.block {
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.counter {
    position: absolute;
    float: right;
    z-index: 5;
}