.sec {
    display: flex;
    flex-direction: column;
    width: 600px;
    background-color: #131316;
    justify-items: flex-start;
    align-items: flex-start;
}

.scrolldiv {
    overflow-x: hidden;
    margin-bottom: 10px;
    overflow-y: auto;
    scroll-snap-type: y;
    scroll-snap-align: start;
    scrollbar-width: thin;
    height: calc(100vh - 340px);
}

.tabs {
    display: flex;
}

.title {
    font-family: 'JetBrainsMono', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0;
    color: #F2F2F3;
    padding-top: 40px;
    padding-bottom: 20px;
}



.photo{
    width: 240px;
    height: 120px;
}

.price {
    font-family: 'Iceland', Arial, Helvetica, sans-serif;
    font-size: 28px;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4px;
    padding-bottom: 4px;
}

.price img {
    padding-left: 8px;
}

.product-name {
    font-family: 'JetBrainsMono', Arial, Helvetica, sans-serif;
    font-size: 16px;
}