.construct {
    display: flex;
    margin-right: 4px;
}

.lenta {
    display: flex;
    margin-left: 4px;
}

.navbar {
    background-color: #1C1C21;
    height: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 40px 0 40px;
    min-width: 1280px;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1280px;
}

.navbarLeft {
    flex-wrap: nowrap;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 426px;
}

.cabinet {
    width: 426px;
    display: flex;
    justify-content: flex-end;
}